
<mat-card class="example-card">
  <mat-card-header>
    <mat-toolbar color="primary">
      <span>Cadastro de Clientes</span>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Sobrenome" formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Telefone" formControlName="phone">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cliente/Barbeiro</mat-label>
        <mat-select formControlName="type">
          <mat-option value="customer">Cliente</mat-option>
          <mat-option value="barber">Barbeiro</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
  </mat-card-actions>
</mat-card>
