
<mat-card class="example-card">
  <mat-card-header>
    <mat-toolbar color="primary">
      <span>Cadastro de Produtos</span>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="field-item">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="field-item">
        <mat-label>Preco R$</mat-label>
        <input matInput placeholder="Preco" formControlName="price" type="number">
      </mat-form-field>

      <mat-form-field class="field-item">
        <mat-label>Quantidade</mat-label>
        <input matInput placeholder="Quantidade" formControlName="quantity" type="number">
      </mat-form-field>

      <mat-form-field class="field-item">
        <mat-label>Marca</mat-label>
        <input matInput placeholder="Marca" formControlName="brand">
      </mat-form-field>

      <mat-form-field class="field-item">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="true">Ativo</mat-option>
          <mat-option value="false">Inativo</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="!isNew()">
        <mat-form-field class="field-item">
          <mat-label>Data de Cadastro</mat-label>
          <input matInput placeholder="Data de Cadastro" formControlName="createdAt">
        </mat-form-field>

        <mat-form-field class="field-item">
          <mat-label>Data de Atualizacao</mat-label>
          <input matInput placeholder="Data de Atualização" formControlName="updatedAt">
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
  </mat-card-actions>
</mat-card>
